<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="">
		<h2>ショップデータ管理</h2>
	</div>
	<div id="menu">
		<td>
			<!-- 権限 --> <select name="authority"
			onchange="window.location=this.value">
				<option disabled selected hidden>管理権限</option>
				<option value="/controlAlls">管理者一覧</option>
				<option value="/roleall?charactername=root&characternames=manager">権限種類</option>
		</select>
		</td>
		<td>
			<!-- user一覧 --> <select name="authority"
			onchange="window.location=this.value">
				<option disabled selected hidden>ユーザー管理</option>
				<option value="/usersAll">ユーザー一覧</option>

		</select>
		</td>
		<td>
			<!-- 商品一覧 --> <select name="authority"
			onchange="window.location=this.value">
				<option disabled selected hidden>商品管理</option>
				<option value="/proAll">商品一覧</option>

		</select>
		</td>
		<td>
			<!-- 注文管理 --> <select name="authority"
			onchange="window.location=this.value">
				<option disabled selected hidden>注文管理</option>
				<option value="/OrderAlls">注文一覧</option>

		</select>
		</td>


	</div>
	<hr>
	<h2 align="center">新規登録</h2>
	<form action="controlAdds" method="post">
		<table align="center" border="1px">
			<tr>
				<td>管理者名（パスワード）</td>
				<td><input type="text" name="controlname"></td>
			</tr>
			<tr>
				<td>状態</td>
				<td><input type="text" name="status" value="在職中" readonly></td>
			</tr>
			<tr>
				<td>職位</td>
				<!-- 自動的に変更できるようにする -->
				<td><select name="authority">

						<option>root</option>
						<option>manager</option>
				</select></td>
				<!-- <td><input type="text" name="charactername"></td> -->
			</tr>
			<tr>
				<td>性別</td>
				<td><input type="radio" name="sex" value="男">男<input
					type="radio" name="sex" value="女">女</td>
			</tr>
			<tr>
				<td>電話番号</td>
				<td><input type="text" name="tel"></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" value="保存">
					<input type="reset" value="リセット"></td>
			</tr>
		</table>
	</form>
</body>
</html>