<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>
<body>
	<center>
		<div class="page">


			<div class="am-center">
				<span class="logo">ショップデータ管理システム</span>
			</div>

			<form action="logins" method="post">
				<div class="admin-login">
					<table align="center">
						<tr>
							<td>ログインID：</td>
							<td><input type='text' name='userid'></td>
						</tr>
						<tr>
							<td>パスワード：</td>
							<td><input type='password' name='password'></td>
						</tr>
						<tr>
							<td><input type='submit' value='ログイン' class="button"></td>
							<td><input type='reset' value='リセット' class="button"></td>
						</tr>
					</table>

				</div>
		</div>

		</form>

	</center>

</body>

</html>
