<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="">
		<h2>ショップデータ管理</h2>
	</div>
	<div id="menu">
		<td>
			<!-- 権限 --> <select name="authority"
			onchange="window.location=this.value">
				<option disabled selected hidden>管理権限</option>
				<option value="characterAll.html">管理者一覧</option>
				<option value="controlAll.html">権限種類</option>
		</select>
		</td>
		<td>
			<!-- user一覧 --> <select name="authority"
			onchange="window.location=this.value">
				<option disabled selected hidden>ユーザー管理</option>
				<option value="characterAll.html">ユーザー一覧</option>

		</select>
		</td>
		<td>
			<!-- 商品一覧 --> <select name="authority"
			onchange="window.location=this.value">
				<option disabled selected hidden>商品管理</option>
				<option value="characterAll.html">商品一覧</option>

		</select>
		</td>
		<td>
			<!-- 注文管理 --> <select name="authority"
			onchange="window.location=this.value">
				<option disabled selected hidden>注文管理</option>
				<option value="characterAll.html">注文一覧</option>

		</select>
		</td>


	</div>
	<hr>
	<h2 align="center">password編集</h2>
	<form action="passedit">
		<table align="center" border="1px">
			<tr>
				<td>ユーザー名</td>
				<input type="hidden" name=coname th:value="${control.controlName}">
				<td th:text="${control.controlName}"></td>
			</tr>
			<tr>
				<td>パスワード</td>
				<td><input type="password" name="password1"></td>
			</tr>
			<tr>
				<td>確認パスワード</td>
				<td><input type="password" name="password2"></td>
			</tr>

			<tr>
				<td colspan="2" align="center"><input type="submit" value="保存">
					<input type="reset" value="リセット"></td>
				<!-- <a href="controlAdd.html"><input type="submit" value="戻る"></a> -->
			</tr>

		</table>
	</form>

</body>
</html>