<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>
<body>
	<center>
		<div class="page">


			<div class="am-center">
				<span class="logo">userlogin</span>
			</div>

			<form action="userlogin">
				<div class="admin-login">
					<table align="center">
						<tr>
							<td>ログインID：</td>
							<td><input type='text' name='userid'></td>
						</tr>
						<tr>
							<td>パスワード：</td>
							<td><input type='password' name='password'></td>
						</tr>
						<tr>
							<!-- <input type="hidden" th:value="@{/codeAll(userID=${user.userId})}" name="userid">
						"@{/controlAllm(userId=${control.controlName})}"
						<input type="hidden" th:value="@{/codeAll(ID=${user.id})}" name="id"> -->
							<td><input type='submit' value='ログイン' class="button"></td>
							<td><input type='reset' value='リセット' class="button"></td>
						</tr>

					</table>
					<a th:href="@{usersadd}"><input type='button' value='新規ログイン'
						class="button"></a>
				</div>
		</div>

		</form>

	</center>


</body>
</html>